@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00306B;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.order__flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;

    .order__left {
        width: 50%;
        position: relative;
        padding-right: 5%;
    }
    .order__right {
        width: 50%;
        position: relative;
        .cart_cart-result-sum {
            border-top: none;
            padding-top: 0;
        }
        .cart_item__title {
            a {

                color: $colorBlue;
            }
        }
    }
}

.alert-warning {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    color: #664d03;
    background-color: #fff3cd;
    border:1px solid #ffecb5;
}

@media screen and (max-width: 794px) {

    .order__flex {
        position: relative;
flex-direction: column-reverse;
        width: 100%;
        padding: 30px 0 0 0;

        .order__left {
            width: 100%;
            position: relative;
            padding: 0;
        }

        .order__right {
            width: 100%;
            position: relative;
            padding: 0 0 30px 0;
        }
    }
}
