@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00306B;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

main.excursion {
    .excursion__title {
        padding: 10px 0 40px 0;

        .h1 {
            padding: 0;
        }

        .subtitle {
            padding: 6px 0 0 0;
            color: $colorGrey;

        }
    }
}

.excursion_item {

    .excursion_item__flex {
        display: flex;
        width: 100%;
        gap: 40px;

        .excursion_item__left {
            width: 57%;

            .card.no_padding {
                padding: 0;
            }

            .margin-bottom-40 {
                margin-bottom: 40px;
            }

            .excursion_item__img {
                display: block;
                text-decoration: none;
                width: 100%;
                height: 410px;
                border-radius: 8px 8px 0 0;
                background-size: cover;
            }

            .excursion_item__info-price {
                padding: 36px 24px;
                display: flex;
                justify-content: space-between;


            }

            .excursion_item__info-no-price {
                padding: 36px 24px;

                .excursion_item__card {
                    box-shadow: none;
                    border-radius: 0;
                    display: block;
                }

                .__buy_100 {
                    a {
                        max-width: 334px;
                    }
                }
            }

            .ex_time,
            .ex_places,
            .ex_price {
                width: 30%;
                position: relative;
            }

            .ex_time__time-label,
            .ex_place__place-label {
                font-size: 16px;
                font-weight: 600;

            }

            .ex_time__time,
            .ex_place {
                font-size: 22px;
                font-weight: 400;
                padding: 10px 0 0 0;
                color: $colorBlue;
            }

            .ex_price__price {
                font-weight: 400;
                font-size: 40px;
                color: $colorBlue;

            }

            .ex_price__pier {
                color: $colorGrey;
                font-size: 15px;
            }

            .excursion_cart-add-sum__wrapper {
                padding: 36px 24px 24px 24px;
            }

            .departure_time {
                padding-bottom: 20px;
                line-height: 1.4em;
            }
        }

        .excursion_item__right {
            width: 43%;

            .card.no_padding {
                padding: 0;
            }

            .excursion_item__right_padding {
                padding: 30px 24px 30px 24px;
            }

            .route_bg_blue {
                background: #3BA3D0;
                color: #ffffff;
                border-radius: 8px 8px 0 0;
                padding: 16px 24px;
                line-height: 1.3em;
            }

            p {
                padding: 6px 0;
                line-height: 1.6rem;
            }

            ul {
                padding: 6px 0;

                li {
                    position: relative;
                    padding: 9px 0 9px 20px;
                    line-height: 1.4em;

                    &:before {
                        content: "";
                        display: inline-block;
                        border-radius: 10px;
                        width: 8px;
                        height: 8px;
                        position: absolute;
                        background: #cbdaed;
                        left: -4px;
                        top: 16.5px;
                    }
                }
            }
        }
    }

}

.pb-7 {
    padding-bottom: 7px;
}

.h3-rubik {
    font-weight: 600;
    color: #00306B;
    padding: 10px 0;
}

.excursion_item__desc {
    padding: 40px 0 0 0;
}

.item_yandex_map {
    padding: 46px 0 0 0;
}


@media screen and (max-width: 1168px) {
    .excursion_item {
        .excursion_item__flex {
            .excursion_item__left {
                width: 60%;
            }

            .excursion_item__right {
                width: 40%;
            }
        }
    }

}

@media screen and (max-width: 1068px) {
    .excursion_item {
        .excursion_item__flex {
            .excursion_item__left {
                width: 65%;
            }

            .excursion_item__right {
                width: 35%;
            }
        }

        .ex_time__time-label {
            span:first-child {
                display: none;
            }

            span:last-child {
                display: table;
            }

        }
    }

}

@media screen and (max-width: 900px) {
    .excursion_item {
        .excursion_item__flex {
            display: block;

            .excursion_item__left {
                width: 100%;
                margin-bottom: 40px;
            }

            .excursion_item__right {
                width: 100%;
            }
        }

        .ex_time__time-label {
            span:first-child {
                display: table;
            }

            span:last-child {
                display: none;
            }

        }
    }

}

@media screen and (max-width: 794px) {
    .excursion_item {
        .excursion_item__flex {

            .excursion_item__left {

                .ex_price__price {
                    font-size: 32px;
                }


            }

            .excursion_item__right {

            }
        }

        .ex_time__time-label {
            span:first-child {
                display: none;
            }

            span:last-child {
                display: table;
            }

        }
    }

}

@media screen and (max-width: 668px) {

    .excursion_item {
        .excursion_item__flex {
            .excursion_item__left {
                .excursion_item__info-price {
                    display: block;
                    padding-left: 16px;
                    padding-right: 16px;

                    .ex_time {
                        width: 100%;
                        padding-bottom: 13px;
                        margin-bottom: 15px;
                        border-bottom: 1px solid #e0e0e0;
                    }

                    .ex_places {
                        width: 100%;
                        padding-bottom: 13px;
                        margin-bottom: 15px;
                        border-bottom: 1px solid #e0e0e0;
                    }

                    .ex_price {
                        width: 100%;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .cart_item {
        .flex.flex_exh {
            flex-direction: column;
        }
    }
    .cart_item__left {
        .cart_item__human {
            padding-bottom: 10px;
        }
    }

    .cart-total__left {
        display: none;
    }

}

@media screen and (max-width: 568px) {
    .excursion_item {
        .excursion_item__flex {

            .excursion_item__left {

                .ex_price__price {
                    font-size: 32px;
                }

                .cart-cart {
                    padding: 8px 0;

                    .flex {
                        gap: 8px;
                        justify-content: space-between;
                    }

                    .cart-cart__human {
                        width: 0;
                        display: none;
                    }

                    .cart-cart__aqua_counter {
                        width: 40%;
                    }

                    .cart-cart__result {
                        width: 60%;

                        .cart_price {
                            font-size: 26px;
                        }

                        .app_cart_price {
                            min-width: 100px;
                        }
                    }
                }


            }

            .excursion_item__right {

            }
        }

        .ex_time__time-label {
            span:first-child {
                display: none;
            }

            span:last-child {
                display: table;
            }

        }
    }
    .excursion_item__img {

        height: auto !important;
        padding-top: 56.8%; /* Соотношение сторон 16:9 */
        background-size: cover !important;
        background-position: center !important;

    }
}

@media screen and (max-width: 470px) {

    .excursion_item {
        .excursion_item__flex {

            .excursion_item__left {


                .cart-cart {
                    padding: 8px 0;

                    .flex {
                        gap: 8px;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }


                    .cart-cart__aqua_counter {
                        width: 100%;
                        margin-right: 6px;
                        .aqua_counter {
                            align-items: center;
                            justify-content: center;
                            .aqua_minus ,.aqua_plus {
                                border: 1px solid #e0e0e0;
                                width: 32px;
                                height: 32px;
                                min-width: 32px;
                                border-radius: 22px;
                            }
                        }
                    }

                    .cart-cart__result {
                        width: 100%;
                        padding: 7px 0;

                        .cart_price {
                            font-size: 26px;
                        }

                        .app_cart_price {
                            min-width: 100px;
                        }
                    }
                }


            }


        }


    }
}
@media screen and (max-width: 370px) {
    .cart-total__result {
        display: block !important;

        .cart-total_sum_currency {
            display: flex !important;
            align-items: center;
            justify-content: center !important;
            padding: 0 0 20px 0 !important;
        }

    }
}
