.footer_blindPanel {
    padding-bottom: 50px;
}
.blindPanel {
    position: fixed;
    bottom: 0;
    color: #ffffff;
    width: 100%;
    height: 50px;
    border-top: 3px solid #000000;
    background:  navy;
    font-size: 19px;

    .blindPanel_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .blindPanel_left {
        height: 50px;
        display: flex;
        align-items: center;
    }

    .blindPanel_right {
        height: 50px;
        display: flex;
        align-items: center;
    }
    .blindPanel_reset {
        text-decoration: underline;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }

    }
}




