body.bind {
    font-family: Arial, sans-serif !important;
    color: black !important;
    background-color: white !important;
    font-size: 18px !important; /* Увеличение размера шрифта */
    line-height: 1.5 !important; /* Улучшение расстояния между строками */


    /** header **/

    .block_header {
        .block_header__flex {
            .block_header__left {
                width: 20%;
            }

            .block_header__center {
                width: 80%;

                .top_menu > li > a {
                    position: relative;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #000000;
                    font-weight: 600;
                }
                .top_menu .submenu li a {
                    font-size: 19px;
                    height: 52px;
                }
                .top_menu .submenu {
                        width: 450px;
                }

            }

            .block_header__right {
                width: 0;
                display: none;
            }
        }
    }

    ._info .h3_blue {
        color: #000000;
        font-weight: 600;
        display: block;
        text-transform: uppercase;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }

    }

    /** header **/


    /** экскурсии **/
    .excursion_items {
        .excursion_items__flex {
            .excursion_item {
                width: 100%;
                position: relative;
                height: auto;

                .excursion_item__img {
                    display: none;
                }

                .excursion_item__title a {
                    color: #000000;
                    font-size: 24px;
                }

                .excursion_item__teaser li {

                    font-size: 20px;
                    font-weight: 500;
                    padding-left: 0;

                    &:before {
                        content: "";
                        display: none;
                    }
                }

                .excursion_item__price {
                    display: block;
                    color: #000000;

                }

                .__price {
                    width: 100%;
                    display: block;
                }

                .__buy {
                    width: 100%;
                    margin-top: 60px;

                    a {
                        width: 100%;
                        background: #000 !important;
                        font-size: 20px;
                        height: 55px;

                        span {
                            background: #000 !important;

                        }
                    }
                }

                .excursion_item__pier {
                    display: none;
                }

                .display_1024 {
                    display: block;
                }

            }

        }
    }

    /** /// экскурсии **/
    /** current info **/
    .current_information {

        .current_information__left {
            .h1 {
                font-weight: 700;
                color: #000;
                padding: 0 0 18px 0;

                span {
                    color: #000000;
                }
            }

            .ci__title {
                color: #000000;

            }

            .ci__subtitle {
                color: #000000;
                font-size: 20px;
            }
        }


    }
    /** ///current info **/
    /** content **/
    .content_one-column-component {
        .one-column-title {
            h2 {
                font-weight: 700;
                color: #000000;
                font-size: 36px;

            }
            h3 {
                    color: #000000;
                   font-size: 28px;

            }
        }
    }

    .desc {
         p {
            width: 100%;
            position: relative;
            padding: 10px 0;
            line-height: 1.6rem;
            font-size: 20px;
        }
    }
    /** ///content **/
    /** footer **/
    footer {
        .menu_footer-menu-component {
            display: none;
        }
        .image_footer {
            display: none;

        }

        .blue_footer {
            background: #000000;
        }
        .footer {
            border-top: 3px solid #ffffff;

        }
    }
    /** footer **/


}
