@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00306B;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

.content_gallery_component {
padding: 30px 0;
    .gallery__flex {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
        img {
            border-radius: 4px;
            display: block;
        }
    }
}
@media screen and (max-width: 900px) {
    .content_gallery_component {
        .gallery__flex {
            /* По две картинки в ряд до 468px */
            flex-direction: row;
            flex-wrap: wrap;

            > div {
                flex: 0 0 calc(50% - 12px); /* 50% ширины с учетом отступа */
            }
            img {
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 468px) {

    .content_gallery_component {
        .gallery__flex {
            > div {
                flex: 0 0 100%; /* 100% ширины */
            }
            img {
                width: 100%;
            }
        }
    }
}
