@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00306B;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;


.content_one-column-component {
    position: relative;
    padding: 40px 0;

    .one-column-title {
        padding-bottom: 21px;

        h2 {
            word-spacing: 6px;
            font-weight: 700;
            color: $colorBlue;
            padding: 0 0 6px 0;
            font-size: 36px;
            line-height: 1.1em;
            position: relative;

        }

        h3 {
            font-weight: 500;
            color: $colorBlue2;
            padding: 0;
            font-size: 26px;
            line-height: 1.1em;
            position: relative;

        }
    }

    .one-column-desc {

    }
}

.home_content {
    .content_one-column-component {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 568px) {

    .content_one-column-component {
        position: relative;
        padding-top: 20px !important;

        .one-column-title {
            h2 {
                padding: 0 0 15px 0;
                font-size: 30px;
                line-height: 1.1em;
                position: relative;
            }

            h3 {
                font-weight: 400;
                line-height: 1.2em;
            }
        }
    }
}

