@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}




.breadcrumbs {
    position: relative;
    padding: 20px 0;
    min-height: 59px;
    margin-top: 16px !important;
    ul {
        li {
            list-style-type: none;
            display: inline-block;
            color: $colorGrey;
            text-decoration: none;
            font-size: 15px;
            position: relative;
            a , span {
                color: $colorGrey;
                text-decoration: none;
                font-size: 15px;
                position: relative;
                padding: 0 4px;
                display: inline-block;
            }
            a:hover {
                text-decoration: underline;
            }
            &:first-child a {
                padding-left: 0;
            }
        }
    }

    .triangle {
        position: relative;
        display: block;
        width: 9px;
        height: 8px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgNiA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS4wMTM2MyAzLjcxNjM5TDAuNjEyMjg1IDcuMDE1NjlMMC40OTU2NDYgMC41Nzg3MTJMNS4wMTM2MyAzLjcxNjM5WiIgZmlsbD0iIzY2NzA4NSIvPgo8L3N2Zz4K");


    }

}

@media screen and (max-width:740px) {
    .breadcrumbs {
        padding: 5px 0 16px 0;
        min-height: 0;
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                display: block;
                font-size: 14px;

                a, span {
                    padding: 2px 5px 2px 6px;

                }
                a {
                    text-decoration: underline;
                }
            }

        }
    }
}
@media screen and (max-width:568px) {
    .breadcrumbs {
        ul {

            li {


                a, span {
                    padding: 2px 5px 2px 0;

                }

            }

        }
    }
}

