@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #03a9f4;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.content__title,
.page__title {
    padding: 20px;
    text-align: center;
    .subtitle {
        padding: 10px 0 0 0;
        color: $colorGrey;
    }
}

.well-danger {
    margin: 30px 0;
    padding: 24px;
    border-radius: 4px;
    position: relative;
    display: block;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1215686275);
    background: #f8d7da;
    h3 {
        font-size: 22px;
        padding: 5px 0;
        color: #842029;
        text-transform: uppercase;
    }

}
