@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorBlue2: #3BA3D0;
$colorGreen: #0f6567;
$colorYellow: #FF931E;
$colorOrange: #FF732C;

$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


@mixin SourceSans3 {
    font-family: 'Source Sans 3 Variable', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto Variable', sans-serif;
}


.header_blind {
    position: relative;
    a {
        display: block;
        width: 27px;
        min-width: 27px;
        height: 27px;
        position: relative;
        text-decoration: none;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyNyAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGVsbGlwc2UgY3g9IjEzLjQ5MDUiIGN5PSIxMy41IiByeD0iMTMuNDkwNSIgcnk9IjEzLjUiIGZpbGw9IiMwMDgyQzkiLz4KPHJlY3Qgd2lkdGg9IjE1LjQ1NjciIGhlaWdodD0iMTYuMTIyNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNi4wMTA3NCA1LjI2OTc4KSIgZmlsbD0iIzAwODJDOSIvPgo8cGF0aCBkPSJNMTUuNjcxOCAxMy4zMzFDMTUuNjcxOCAxNC40NDQgMTQuODA2OCAxNS4zNDYzIDEzLjczOTcgMTUuMzQ2M0MxMi42NzI3IDE1LjM0NjMgMTEuODA3NiAxNC40NDQgMTEuODA3NiAxMy4zMzFDMTEuODA3NiAxMi4yMTc5IDEyLjY3MjcgMTEuMzE1NyAxMy43Mzk3IDExLjMxNTdDMTQuODA2OCAxMS4zMTU3IDE1LjY3MTggMTIuMjE3OSAxNS42NzE4IDEzLjMzMVoiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTMuNzQwMiA4LjYyODY2QzEwLjg1NjQgOC42Mjg2NiA4LjQxNTQgMTAuNjA1NiA3LjU5NDczIDEzLjMzMUM4LjQxNTM5IDE2LjA1NjUgMTAuODU2NCAxOC4wMzM0IDEzLjc0MDIgMTguMDMzNEMxNi42MjM5IDE4LjAzMzQgMTkuMDY0OSAxNi4wNTY1IDE5Ljg4NTYgMTMuMzMxQzE5LjA2NDkgMTAuNjA1NiAxNi42MjM5IDguNjI4NjYgMTMuNzQwMiA4LjYyODY2WiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');


    }
}
